export default {
    HOST: "PRODHOST",
    SQL_SERVER_HOST: "SQLSH",
    SQL_SERVER_PORT: "SQLSP",
    SQL_SERVER_USER: "SQLSU",
    SQL_SERVER_PASSWORD: "SQLSPWD",
    SQL_SERVER_DB: "SQLSDB",
    EXPRESS_SESSION_SECRETS: [EXPRESS_SESSION_SECRETS_ARR],
    S3_ENDPOINT: "S3EURL",
    S3_BUCKET_NAME: "S3BN",
    S3_REGION: "S3R",
    S3_SECRET_KEY: "S3SK",
    S3_ACCESS_KEY: "S3AK",
    GEOAPIFY_API_KEY: "GEOAPIK"
}